body {
    height: 100vh;
    background-color: #1A2E41;
}

.form {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #E8EDDF;
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    min-height: 500px;
    height: 100%;
}

.form__title {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A1BFA7;
    color: #2D4259;
    font-family: "quicksand", serif;
    font-size: 36px;
    border-radius: 5px;
}

.label {
    margin-top: 20px;
    padding: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #496074; 
    color: #fff;
    font-family: "quicksand", serif;
    font-size: 16px;

}

.input {
    background-color: #A1BFA7;
    padding: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    font-family: "quicksand", serif;
    font-size: 14px;
    color: #2D4259;
}

.input::placeholder {
    color: #2D4259; 
    font-style: italic;
}

.input:hover {
    background-color: #869e8b;
}

.select {
    background-color: #A1BFA7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none; 
    cursor: pointer;
}

.select:hover {
    background-color: #869e8b;
}

.checkbox__container {
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.checkbox__info {
    margin-left: 30px;
    line-height: 23px;
    font-family: "quicksand", serif; 
    font-size: 16px; 
    color: #1A2E41;
}

.checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #A1BFA7; 
    border-radius: 5px;
}

.checkbox__container:hover input ~ .checkmark {
    background-color: #869e8b;
}






.button {
    padding: 7px;
    background-color: #E8EDDF;
    color: #2D4259;
    border-radius: 5px; 
    border: 2px solid #2D4259; 
    font-family: "quicksand", serif;
    font-size: 16px;
    font-weight: bold; 
}

.button:hover {
    padding: 7px;
    background-color: #2D4259;
    color: #E8EDDF;
    border-radius: 5px; 
    border: 2px solid #2D4259; 
    font-family: "quicksand", serif;
    font-size: 16px;
    font-weight: bold; 
}



